{% load static %}
{% load grandchallenge_tags %}
{% load sentry_public_dsn from raven %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block html_header %}
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <meta name="description"
              content="{{ site.description }}"/>
        <meta name="keywords"
              content="COMIC, open, science, medical, image, computing, validated"/>

        {% comment %}
        <script src="https://cdn.ravenjs.com/3.23.2/raven.min.js" crossorigin="anonymous"></script>
        <script>Raven.config('{% sentry_public_dsn %}').install()</script>
        {% endcomment %}

        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async
                src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', "{{ google_analytics_id }}");
        </script>

        {% block bootstrap %}
            {# Latest compiled and minified CSS #}
            <link rel="stylesheet"
                  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
                  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
                  crossorigin="anonymous">
            <script src="{% static "jquery-3.2.1/js/jquery-3.2.1.min.js" %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
                    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                    crossorigin="anonymous"></script>
            <meta name="viewport"
                  content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block datatables %}
            {% comment %}
                Requires jquery from above, and uses bootstrap themes
            {% endcomment %}
            <link rel="stylesheet" type="text/css"
                  href="{% static "DataTables-1.10.16/css/dataTables.bootstrap4.min.css" %}"
                  crossorigin="anonymous"/>

            <script type="text/javascript"
                    src="{% static "DataTables-1.10.16/js/jquery.dataTables.min.js" %}"
                    crossorigin="anonymous"></script>

            <script type="text/javascript"
                    src="{% static "DataTables-1.10.16/js/dataTables.bootstrap4.min.js" %}"
                    crossorigin="anonymous"></script>
        {% endblock %}

        {% block fontawesome %}
            <link href="{% static 'fontawesome-5.0.8/css/fontawesome-all.css' %}"
                  rel="stylesheet">
        {% endblock %}

        {% block fileupload %}
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                    crossorigin="anonymous"></script>
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/js/jquery.fileupload.min.js"></script>
        {% endblock %}

        {% block jqcookie %}
            <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.js"
                    integrity="sha256-uEFhyfv3UgzRTnAZ+SEgvYepKKB0FW6RqZLrqfyUNug="
                    crossorigin="anonymous"></script>
        {% endblock %}

        {#  Custom CSS, must be included AFTER bootstrap  #}
        <link href="{% static "css/core.css" %}" type="text/css"
              rel="stylesheet">

        <link href="{% static "img/favicon.ico" %}"
              rel="shortcut icon">

        <!--Put any site or page specific css here -->
        <link href="{% block stylesheet %} {% endblock %}" type="text/css"
              rel="stylesheet">

        <script>
            //url prefix for API functions
            API_PREFIX = "{% get_project_prefix %}api",

                $(document).ready(function () {

                    // delete message on click
                    $(document).on('click', '.del-msg', function () {
                        $('.messagelist').attr('style', 'display:none;');
                    });
                    // messages timeout
                    setTimeout(function () {
                        $('.messagelist').fadeOut('slow');
                    }, 5000); // <-- time in milliseconds, 1000 =  1 sec

                    $('table.sortable').dataTable({
                        "bJQueryUI": false,
                        "sPaginationType": "full_numbers",
                        "bPaginate": false,
                        "bLengthChange": false,
                        "bFilter": false,
                        "bInfo": false,
                        "bAutoWidth": false
                    });
                });
        </script>

        <style>
            {% block additionalCSS %}{% endblock %}
        </style>

        <title> {% block pageName %} COMIC main portal {% endblock %} </title>
    {% endblock %}
</head>
<body>

{% block topheader %}
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top">

        <!-- Brand -->
        <a class="navbar-brand text-capitalize"
           href="{% main_page_url %}">{{ main_challenge_name }}</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav text-capitalize mr-auto">
                {% metafooterpages %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbardrop" data-toggle="dropdown">
                            <img class="mugshot"
                                 src="{{ user.user_profile.get_mugshot_url }}"
                                 alt="User Mugshot"
                                 style="height: 1.5em; vertical-align: middle;"/> {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item"
                               href="{% url 'userena_profile_detail' user.username %}">My
                                Profile</a>
                            <a class="dropdown-item"
                               href="{% url 'challenges:list' %}">My
                                Challenges</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="{% url 'userena_signout' %}?next=/">Sign
                                Out</a>
                        </div>
                    </li>
                {% else %}
                    {% block loginbutton %}
                        <li class="nav-item"><a class="nav-link"
                                                href="{% url 'userena_signin' %}?next={{ subdomain_absolute_uri }}">Sign
                            in / Register</a></li>
                    {% endblock %}
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock topheader %}



<div id="messagescontainer" class="container">
    {% block messages %}
        {% if messages %}
            <div class="messagelist">
                {% for message in messages %}
                    <div class="alert alert-{{ message.level_tag }}">
                        {% if 'safe' in message.tags %}
                            {{ message | safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock messages %}
</div>

<div id="page">


    {% block jumbotron %}
        <div id="header" class="jumbotron">
            <div class="container-fluid">
                <a style="display:block"
                   href={% block headerLink %}"/"{% endblock %}>
                    <div id="headerTitle">
                        <h1>
                            {% block headerTitle %}
                                <div class="noimage">
                                    {{ main_challenge_name }}
                                </div>
                            {% endblock %}
                        </h1>
                    </div>
                </a>
            </div>
        </div>
    {% endblock %}

    <div class="container-fluid">
        <div class="row justify-content-center">

            {% block challengeNav %}
                <div class="col-md-2 col-xl-1">
                    <ul class="nav nav-pills flex-column">
                        {% block topmenu %} {% endblock %}
                        {% block sitemenuloginbutton %} {% endblock %}
                        {% block adminbutton %} {% endblock %}
                    </ul>
                </div>
            {% endblock %}

            <main role="main" class="col-md-10 col-xl-11">
                <div class="container-fluid">
                    <div id="mainContent">
                        {% block content %} content {% endblock %}
                    </div>
                </div>
            </main>

        </div>
    </div>
    <!-- container -->
</div>


<!-- page -->
{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Consortium for Open Medical Image Computing &copy;
                2012-{% now "Y" %}</span>
        </div>
    </footer>
{% endblock %}

</body>
</html>
